p, code, table {
    font-size: 10px;
    line-height:150%;
    margin-bottom: 4px;
}

ul, ol {
    font-size: 10px;
    line-height:150%;
    margin-bottom: 4px;
    margin-top: 4px;
}

li {
    font-size: 10px;
    line-height:150%;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 8px;
    margin-top: 8px;
}